{% extends "base.html" %}


{% block content %}
<h1>みずログ</h1>
<div>
    <p>今日の目標: <span id="goal">{{ daily_goal }}ml</span></p>
    <p>現在: <span id="current-intake">{{ current_intake }}ml</span></p>
</div>

<div class="progress-bar">
    <div class="progress-bar-inner" id="progress-bar-inner"></div>
</div>

<div class="buttons">
    <button class="log-button" data-amount="100">+100ml</button>
    <button class="log-button" data-amount="250">+250ml</button>
    <button class="log-button" data-amount="500">+500ml</button>
    <button id="reset-button">リセット</button>
</div>

<div class="buttons set-goal-container">
    <input type="number" id="goal-input" placeholder="目標を入力 (ml)">
    <button id="set-goal-button">目標を設定</div>
</div>

<div class="history-container">
    <h2>今日の履歴</h2>
    <ul id="history-list"></ul>
</div>
{% endblock %}